h1{
    color: var(--color-primary);
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secondary);
    padding: 0px 10px;
    align-items: center;
    height: 80px;
}

.navLinks{
    display: flex;
    gap: 50px;
}