/* add google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cal+Sans&family=Passion+One:wght@400;700;900&family=Poiret+One&display=swap');

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* Add style to the navigation bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links{
    display: flex;
    gap: 30px;
}

ul li{
    list-style: none;
    font-weight: bold;
}

ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a:hover{
    color: rgb(75, 75, 75);
}

.signin-btn{
    padding: 10px 25px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.signin-btn:hover{
    background-color: #0056b3;
    padding: 13px 28px;
}
